<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta charset="UTF-8">
	<title>Avto</title>
	<script src="/js/lib/jquery.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header class="header">
		<div class="header-logo">
			<a class="header-logo-a" href="#">Classified Ads</a>
		</div>
		<div class="header-settings">
			<button class="header-settings-button" type="submit">Post your Ad</button>
			<div class="header-settings-language">
				<img class="flag1" src="assets/img/flag1.png" alt="flag">
				<img class="flag2" src="assets/img/flag2.png" alt="flag">
				<input type="checkbox" class="checkbox" id="checkbox" />
				<label for="checkbox" class="ios-switch"></label>
			</div>
		</div> 
	</header>
	<form class="poisk" action="#">
		<select class="poisk-city selectCity" name="selectCite">
			<option class="selectCity-option" value="LosAngeles">Los Angeles</option> 
			<option class="selectCity-option" value="Chicago">Chicago</option>
			<option class="selectCity-option" value="Houston">Houston</option>
			<option class="selectCity-option" value="Dallas">Dallas</option>
			<option class="selectCity-option" value="Detroit">Detroit</option>
			<option class="selectCity-option" value="Denver">Denver</option>
		</select>
		<div class="poisk-search looking">
			<input class="looking-input" type="search" name="looking" id="looking" placeholder="What are you looking?">
			<label class="looking-label" for="looking"></label>
		</div>
		<select class="poisk-rubric rubric" name="rubric">
			<option class="rubric-option-disabled" value="Choose rubric" selected disabled="disabled">Choose rubric</option>
			<option class="rubric-option" value="Passenger cars">Passenger cars</option>
			<option class="rubric-option" value="Freight cars">Freight cars</option>
			<option class="rubric-option" value="Moto">Moto</option>
			<option class="rubric-option" value="Water transport">Water transport</option>
			<option class="rubric-option" value="Velo">Velo</option>	
		</select>
		<button class="poisk-button" type="submit" value="Search">Search</button>
	</form>
	<main class="main">
		<nav class="main-left">
			<nav class="threeCard">
				<div class="threeCard-left">
					<section class="card">
						<div class="card-imgCena">
							<div class="card-imgCena-cena">
								<p>contract price</p>
							</div>
							<img class="card-imgCena-img" src="assets/img/zaz.jpg" alt="Avto">
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">Zaz-965</h2>
							<p class="card-characteristics-item">Vendo un Honda civic 93 color rojo automatico motor y transmision.</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:15 am</p>
						</div>
					</section>
				</div>
				<div class="threeCard-right">
					<section class="card">
						<div class="card-imgCena imgNone">
							<div class="card-imgCena-cena">
								<p>$11,800</p>
							</div>
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">Bonita van familiar</h2>
							<p class="card-characteristics-item">Vendo caravan 2000, con 129xxx millas, motor ytransmicion en buen estado. vidrios electricos.</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:09 am</p>
						</div>
					</section>
					<section class="card">
						<div class="card-imgCena imgNone">
							<div class="card-imgCena-cena">
							</div>
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">Limpio</h2>
							<p class="card-characteristics-item">Vendo dodge neon aire acondisio-nado titulo limpio 4 silindros 19.700 millas 5628736453</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:01 am</p>
						</div>
					</section>
				</div>
			</nav>
			<section class="card">
				<div class="card-imgCena">
					<div class="card-imgCena-cena">
						<p>$1,580,000</p>
					</div>
					<img class="card-imgCena-img" src="assets/img/avto1.jpg" alt="Avto">
				</div>
				<div class="card-characteristics">	
					<h2 class="card-characteristics-title">Ford Mustang 2017</h2>
					<p class="card-characteristics-item">A Francfort Maserati s’est installé dans un stand nettement plus vaste qu’à l’accoutumée, en face de Ferrari. L’absence de Fiat, d’Alfa Romeo de Jeep ou de Lancia libérant naturelleme....</p>
				</div>
				<div class="card-dataActive">
					<p class="card-dataActive-model">Cars: Honda</p>
					<p class="card-dataActive-data">Yesturday, 8:22 am</p>
				</div>
			</section>
			<nav class="twoCard">
				<div class="twoCard-left">
					<section class="card">
						<div class="card-imgCena">
							<div class="card-imgCena-cena">
								<p>$26,500</p>
							</div>
							<img class="card-imgCena-img" src="assets/img/mazeratti.jpg" alt="Avto">
							<div class="card-imgCena-imgsMini">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mazeratti_mini1.jpg" alt="Mni_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mazeratti_mini2.jpg" alt="Mni_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mazeratti_mini3.jpg" alt="Mni_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mazeratti_mini4.jpg" alt="Mni_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mazeratti_mini5.jpg" alt="Mni_avto">
							</div>
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">Maserati Ghibli S Q4</h2>
							<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:15 am</p>
						</div>
					</section>
					<section class="card">
						<div class="card-imgCena">
							<div class="card-imgCena-cena">
								<p>$26,500</p>
							</div>
							<img class="card-imgCena-img" src="assets/img/avto1.jpg" alt="Avto">
							<div class="card-imgCena-imgsMini">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
							</div>
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">2001 Dodge stratus automatic</h2>
							<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:15 am</p>
						</div>
					</section>
				</div>
				<div class="twoCard-right">
					<section class="card">
						<div class="card-imgCena">
							<img class="card-imgCena-img" src="assets/img/avto1.jpg" alt="Avto">
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">Bueno y ahorrador de gasolina</h2>
							<p class="card-characteristics-item">Vendo unHonda civic 93 color rojo automatico motor.</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:09 am</p>
						</div>
					</section>
					<section class="card">
						<div class="card-imgCena">
							<div class="card-imgCena-cena">
								<p>$26,500</p>
							</div>
							<img class="card-imgCena-img" src="assets/img/avto1.jpg" alt="Avto">
							<div class="card-imgCena-imgsMini">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
								<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
							</div>
						</div>
						<div class="card-characteristics">	
							<h2 class="card-characteristics-title">2001 Dodge stratus automatic</h2>
							<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
						</div>
						<div class="card-dataActive">
							<p class="card-dataActive-model">Cars: Honda</p>
							<p class="card-dataActive-data">Today, 11:15 am</p>
						</div>
					</section>
				</div>
			</nav>
		</nav>
		<nav class="main-center">
			<section class="card exclusiveCard">
				<div class="card-imgCena">
					<div class="card-imgCena-cena">
					</div>
					<img class="card-imgCena-img" src="assets/img/mazerattiGT.jpg" alt="Avto">
					<div class="card-imgCena-imgsMini">
						<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
						<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
						<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/mini_avto.png" alt="Mini_avto">
					</div>
				</div>
				<div class="card-characteristics">	
					<h2 class="card-characteristics-title">2001 Dodge stratus automatic</h2>
					<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
				</div>
				<div class="card-dataActive">
					<p class="card-dataActive-model">Cars: Honda</p>
					<p class="card-dataActive-data">Today, 11:15 am</p>
				</div>
			</section>
			<section class="card">
				<div class="card-imgCena">
					<div class="card-imgCena-cena">
					</div>
					<img class="card-imgCena-img" src="assets/img/dodge.jpg" alt="Avto">
				</div>
				<div class="card-characteristics">	
					<h2 class="card-characteristics-title">Auction Results and Sales Data for 2001 </h2>
					<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
				</div>
				<div class="card-dataActive">
					<p class="card-dataActive-model">Cars: Honda</p>
					<p class="card-dataActive-data">Today, 11:15 am</p>
				</div>
			</section>
			<section class="card exclusiveCard">
				<div class="card-imgCena">
					<div class="card-imgCena-cena imgNone">
						<p>$1,300</p>
					</div>
				</div>
				<div class="card-characteristics">	
					<h2 class="card-characteristics-title">2001 Dodge stratus automatic</h2>
					<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
				</div>
				<div class="card-dataActive">
					<p class="card-dataActive-model">Cars: Honda</p>
					<p class="card-dataActive-data">Today, 11:15 am</p>
				</div>
			</section>
			<section class="card">
				<div class="card-imgCena">
					<div class="card-imgCena-cena">
					</div>
				</div>
				<div class="card-characteristics">	
					<h2 class="card-characteristics-title">2001 Dodge stratus automatic</h2>
					<p class="card-characteristics-item">Vendo dodge neon titulo aire aconcionado 4 puertas atomatico. 4 cilindros 1950.</p>
				</div>
				<div class="card-dataActive">
					<p class="card-dataActive-model">Cars: Honda</p>
					<p class="card-dataActive-data">Today, 11:15 am</p>
				</div>
			</section>
			<section class="card exclusiveCard">
				<div class="card-imgCena">
					<div class="card-imgCena-cena">
					</div>
					<img class="card-imgCena-img" src="assets/img/vaz2101.jpg" alt="Avto">
					<div class="card-imgCena-imgsMini">
						<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/vaz2101mini.jpg" alt="Mini_avto">
						<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/vaz2101mini2.jpg" alt="Mini_avto">
						<img class="card-imgCena-imgsMini-miniFofo" src="assets/img/vaz2101mini3.jpg" alt="Mini_avto">
					</div>
				</div>
				<div class="card-characteristics">	
					<h2 class="card-characteristics-title">1973 Vaz 2101</h2>
					<p class="card-characteristics-item">The car is on the run, the engine is OK, the bridge does not howl! Documents are normal, requires attention to welding the bottom!</p>
				</div>
				<div class="card-dataActive">
					<p class="card-dataActive-model">Cars: Honda</p>
					<p class="card-dataActive-data">Today, 11:15 am</p>
				</div>
			</section>
		</nav>
		<nav class="main-right">
			<nav class="reklama">
				<a href="#"><img class="reklama-img" src="assets/img/reklama1.jpg" alt="Reklama"></a>
				<a href="#"><img class="reklama-img" src="assets/img/reklama2.jpg" alt="Reklama"></a>
				<a href="#"><img class="reklama-img" src="assets/img/reklama3.jpg" alt="Reklama"></a>
			</nav>
		</nav>
	</main>
	<footer class="footer">
	</footer>
	<script src="js/common.min.js"></script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>